<% if (ignore) { %>\
    @Ignore
<% } %>\
    def "${description}"() {
        when:
        ${exerciseName}.${property}(${commaSeparatedArgumentNames})

        then:
        IllegalArgumentException exceptionThrown = thrown(IllegalArgumentException)
        exceptionThrown.message == ${errorMessage}

        where:
        ${pipeSeparatedNamesTrimmed}
        ${pipeSeparatedValuesTrimmed}
    }
