<% if (ignore) { %>\
    @Ignore
<% } %>\
    def "${description}"() {
        expect:
        ${exerciseName}.${property}(${commaSeparatedArgumentNames}) == expected

        where:
        ${pipeSeparatedArgumentNames} || expected
        ${pipeSeparatedArgumentValues} || ${expected}
    }
