import spock.lang.*

class ${exerciseName}Spec extends Specification {
<% if (testMethods.size() != 0) { %>\
<%= testMethods[0] %>\
<% for (testMethod in testMethods.tail()) { %>
<%= testMethod %>\
<% } %>\
<% } %>\
}